## Main data types

Strings: "hello", "goodbye"

Integers: -1,0,1,3

Floats: -4.2,0.0,3.14

In [13]:
my_int = 4
my_float = 2.5
my_string = "hello"

print('string: {:s}\tfloat: {:f}\tint: {:d}'.format(my_string, my_float, my_int))

string: hello	float: 2.500000	int: 4

## Loop (for) and Control Flow (if/else)

In [14]:
my_variable = 5

if my_variable == 4:
  print("my_variable is 4")
else:
  print("my_variable is NOT 4")

for i in range(1, my_variable):
  print("i == {:d}".format(i))

my_variable is NOT 4
i == 1
i == 2
i == 3
i == 4

## Arrays (or "lists" in Python)

In [15]:
my_list = [1,2,4,8,16]

my_list.append(32)

print(len(my_list))

print(my_list[3])
print("")

for value in my_list:
  print(value)

6
8

1
2
4
8
16
32

## Maps (or "dictionaries" in Python)

In [16]:
my_dict = {"olivia": 22, "maria": 30, "sophia": 18, "emily": 45}

my_dict["rachel"] = 15

print(len(my_dict))
print(my_dict["emily"])
print("")

if "elizabeth" in my_dict:
  print("elizabeth exists in my_dict")

print("my_dict sorted by key")
for key, value in sorted(my_dict.items()):
  print('{:s} --> {:d}'.format(key, value))

print("")
print("my_dict sorted by value")
for key, value in sorted(my_dict.items(), key=lambda x:x[1]):
  print('{:s} --> {:d}'.format(key, value))

5
45

my_dict sorted by key
emily --> 45
maria --> 30
olivia --> 22
rachel --> 15
sophia --> 18

my_dict sorted by value
rachel --> 15
sophia --> 18
olivia --> 22
maria --> 30
emily --> 45

## Sorting Lists

In [17]:
random_list = [3,12,5,6]
sorted_list = sorted(random_list)

print(sorted_list)

[3, 5, 6, 12]

## More on lists and dictionaries

In [18]:
my_list = [1,2,"3","four", "four"]
my_set = set(my_list)
my_dict = {"olivia": 22, "maria": 30, "sophia": 18, "emily": 45}

print(my_list)
print(my_set)

print("")

for key, value in sorted(my_dict.items()):
  print('{:s} --> {:d}'.format(key, value))

[1, 2, '3', 'four', 'four']
{'3', 1, 2, 'four'}

emily --> 45
maria --> 30
olivia --> 22
sophia --> 18

## Splitting and joining strings

In [19]:
sentence = "this is a book"
words = sentence.split(" ")

for word in words:
  print(word)

print("")
print(" ||| ".join(words))

this
is
a
book

this ||| is ||| a ||| book

## More string functions

In [20]:
my_string1 = "book"

print(my_string1.upper())

my_string2 = "JAPAN"

print(my_string2.lower())

print("")

if my_string1.startswith("b"):
  print("my_string1 starts with \"b\"")
else:
  print("my_string1 does NOT starts with \"b\"")

if my_string2.endswith("S"):
  print("my_string2 ends with \"S\"")
else:
  print("my_string2 does NOT end with \"S\"")

print("")
mystring3 =  "  desk   "
print(mystring3.strip())

BOOK
japan

my_string1 starts with "b"
my_string2 does NOT end with "S"

desk

## Functions

In [21]:
def mult_and_abs(x, y):
  z = x * y

  if z >= 0:
    return z
  else:
    return z * -1
  
print(mult_and_abs(-3, 2))

6

In [29]:
def test_mult_and_abs():
  assert(mult_and_abs(-3,2) == 6), "Error"
  return "Test passed!"

print(test_mult_and_abs())

Test passed!